<div class="home-container">
    <div class="navigation">
        <div class="logo nav-item"
             ng-click="home.goToAboutSection()">
        </div>
        <div class="page-nav nav-item">
            <home-nav></home-nav>
        </div>
        <div class="blog nav-item"
             ng-if="!home.mobile">
            BLOG
        </div>
    </div>

    <div class="section-wrapper">

        <about-section section="home.aboutSection"
                       section-text="home.aboutSectionText">
        </about-section>

    </div>
    <div class="section-wrapper"
         ng-repeat="homeSection in ::home.regularSections">

        <regular-section section="homeSection"> </regular-section>
    </div>


</div>