<div class="section-container"
     id="{{regularSection.section.class}}">

    <div class="section-content-wrapper">
        <div class="content-container">
            <div class="section-date">
            <span class="section-month"
                  ng-bind="regularSection.section.date.month"></span>
            <span class="section-year"
                  ng-bind="regularSection.section.date.year"></span>
            </div>
            <div class="header-tags">
                <div class="header-tag"
                     ng-repeat="tag in ::regularSection.section.tags">
                    <div class="tag"
                         ng-class="{odd: $odd, even: $even}"
                         ng-bind="tag">
                    </div>
                    <div class="separator"
                         ng-hide="$last">
                        |
                    </div>
                </div>
            </div>
            <div class="section-title"
                 ng-bind="regularSection.section.title"
                 ng-click="regularSection.goToPortfolioPage()"></div>

            <div class="section-description"
                 ng-bind="regularSection.section.description"></div>
            <div class="section-links">
                <div class="section-more"
                     ng-if="regularSection.section.details"
                     ng-click="regularSection.goToPortfolioPage()">
                    LEARN MORE
                </div>
                <div class="section-more"
                     ng-if="!regularSection.section.details">
                    DETAILS COMING SOON
                </div>
                <a class="section-link"
                     ng-if="regularSection.section.link"
                     href="{{regularSection.section.link}}">
                    GO TO SITE
                </a>
            </div>
        </div>
        <div class="image-container">
            <div class="section-image">
            </div>
        </div>
    </div>
</div>