<div class="detail-nav-container">
    <div class="nav-button-wrapper"
         ng-repeat="buttonId in ::detailNav.numberOfPortfolioItems">
        <div class="nav-button"
             ng-class="{selected: portfolioPage.isSelected(buttonId)}"
             ng-click="portfolioPage.goToPortfolioPage(buttonId)"
             ng-bind="buttonId"
             uib-tooltip={{detailNav.menuData[$index]}}
             tooltip-placement="bottom"
             tooltip-class="nav-button-tooltip"
             tooltip-animation="false">
        </div>
    </div>
</div>